* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/**SOLUTIONS**/
/**CONTAINER**/
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 4px;
}

/**HEADER**/
.header {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column: 1/3;
  gap: 250px;
}

.logo {
  grid-column: 1/2;
  justify-self: start;
}

/**MENU**/
.menu {
  grid-column: 2/3;
}

.menu>ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

li {
  list-style: none;
}

/**SIDEBAR**/
.sidebar {
  grid-column: 1/2;
  grid-row: 2/4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;
}

.side-content,
.photo {
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

/**NAV**/
.nav>ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer {
  grid-column: 1/3;
}